.box{
max-height: 10%;
max-width: 100%;
}

.bold-font{
    font-weight: 900; 
    color: darkgray;
}

.small{
    color: grey;
    font-size: small;
}

img {
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }

.font-size{
    font-size: 10px;
}